html {
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: var(--font-regular);
  font-size: 1.1rem;
}
body {
  line-height: 1.6;
}

a:focus,
a:hover,
button:focus,
button:hover,
input:focus,
input:hover {
  outline: dashed 0.2rem var(--text-color);
}

p,
span,
li,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  max-width: 40ch;
  @media (min-width: 40rem) {
    max-width: 80ch;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-decorative);
}

h1 {
  font-size: var(--font-3xl);
  line-height: 1.1;
}

h2 {
  font-size: var(--font-2xl);
  line-height: 1.1;
}

h3 {
  font-size: var(--font-xl);
}

a {
  color: var(--link-color);
}

input {
  height: 1.5rem;
  margin-inline-end: var(--space-4);
}

hr {
  color: var(--text-color);
  max-width: 80ch;
}

.card-block,
.newsletter-form,
.video-figure,
.callout {
  border: 1px solid var(--text-color);
  box-shadow: 0px 4px 4px var(--shadow-color);
  border-radius: var(--border-radius);
}

ul.post-list {
  margin-block-end: var(--space-12);
  list-style: none;
  & li {
    margin-block-end: var(--space-6);
  }
}

.work-section {
  margin-block-end: var(--space-4);
  & ul {
    margin-block-start: 0;
    margin-block-end: var(--space-2);
  }
}

code,
kbd {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  color: var(--inline-code-color);
  font-weight: 500;
}

.markdown,
article.markdown {
  max-width: 40ch;
  margin-inline: auto;
  @media (min-width: 40rem) {
    max-width: 80ch;
    & h1 {
      max-width: 30ch;
      text-wrap: balance;
    }
    & h2,
    & h3 {
      max-width: 36ch;
      text-wrap: balance;
    }
  }
  & > * + * {
    margin-block-start: var(--flow-space, 1em);
  }
  & :is(h1, h2, h3, blockquote) {
    --flow-space: 1.5em;
  }
  &
    :is(
      pre[class*="language-"],
      pre[class*="language"] + *,
      & figure,
      & figure + *,
      & .callout
    ) {
    --flow-space: 2em;
  }

  & :is(h1, h2, h3) + * {
    --flow-space: 0.5em;
  }
  & figure figcaption {
    font-size: var(--font-xs);
  }
}
