/*#region visually-hidden*/
.visually-hidden {
  /* https://a11yproject.com/posts/how-to-hide-content/ */
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip-path: rect(1px, 1px, 1px, 1px);
}

.not-visually-hidden {
  position: static;
  width: auto;
  height: auto;
  overflow: auto;
  clip: auto;
  clip-path: none;
}

.visually-hidden:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: auto;
}

/*#region display-tokens*/
.d-none {
  display: none;
}
.inline {
  display: inline;
}
.block {
  display: block;
}
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex-none {
  flex: none;
}
.items-stretch {
  align-items: stretch;
}
.items-start {
  align-items: flex-start;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: flex-end;
}
.items-baseline {
  align-items: baseline;
}

.justify-start {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}

.w-max-content {
  width: max-content;
  &:focus {
    width: max-content;
  }
}
.h-max-content {
  height: max-content;
  &:focus {
    height: max-content;
  }
}

.w-full {
  width: 100%;
}
/*#endregion*/

/*#region spaceTokens*/
@each $space in (0, 1, 2, 3, 4, 5, 6, 8, 10, 12, 16, 20, 24, 32, 40, 48, 56, 64)
{
  .m-$space {
    margin: var(--space-$space);
  }
  .mx-$space {
    margin-right: var(--space-$space);
    margin-left: var(--space-$space);
  }
  .my-$space {
    margin-top: var(--space-$space);
    margin-bottom: var(--space-$space);
  }
  .mr-$space {
    margin-right: var(--space-$space);
  }
  .ml-$space {
    margin-left: var(--space-$space);
  }
  .mt-$space {
    margin-top: var(--space-$space);
  }
  .mb-$space {
    margin-bottom: var(--space-$space);
  }
  .p-$space {
    padding: var(--space-$space);
  }
  .px-$space {
    padding-right: var(--space-$space);
    padding-left: var(--space-$space);
  }
  .py-$space {
    padding-top: var(--space-$space);
    padding-bottom: var(--space-$space);
  }
  .pr-$space {
    padding-right: var(--space-$space);
  }
  .pl-$space {
    padding-left: var(--space-$space);
  }
  .pt-$space {
    padding-top: var(--space-$space);
  }
  .pb-$space {
    padding-bottom: var(--space-$space);
  }
}
.mx-auto {
  margin-inline: auto;
}
.my-auto {
  margin-block: auto;
}
.ml-auto {
  margin-inline-start: auto;
}
.mr-auto {
  margin-inline-end: auto;
}
.mt-auto {
  margin-block-start: auto;
}
.mb-auto {
  margin-block-end: auto;
}
/*#endregion*/

/*#region font-tokens*/
@each $fontSize, $fontModifier, $lineHeight in (var(--font-sizes)),
  (var(--font-modifiers)), (var(--line-heights))
{
  .text-$fontModifier {
    font-size: var($fontSize);
    line-height: $lineHeight;
  }
}

.font-light {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
/*#endregion*/

/*#region responsive-variants*/
@each $breakpoint, $bpSize in (var(--breakpoints)), (var(--screen-size)) {
  @media (min-width: $breakpoint) {
    .$bpSize\:d-none {
      display: none;
    }
    .$bpSize\:inline {
      display: inline;
    }
    .$bpSize\:block {
      display: block;
    }
    .$bpSize\:flex {
      display: flex;
    }
    .$bpSize\:flex-row {
      flex-direction: row;
    }
    .$bpSize\:flex-column {
      flex-direction: column;
    }
    .$bpSize\:flex-none {
      flex: none;
    }
    .$bpSize\:items-stretch {
      align-items: stretch;
    }
    .$bpSize\:items-start {
      align-items: flex-start;
    }
    .$bpSize\:items-center {
      align-items: center;
    }
    .$bpSize\:items-end {
      align-items: flex-end;
    }
    .$bpSize\:items-baseline {
      align-items: baseline;
    }
    .$bpSize\:justify-start {
      justify-content: flex-start;
    }
    .$bpSize\:justify-center {
      justify-content: center;
    }
    .$bpSize\:justify-end {
      justify-content: flex-end;
    }
    .$bpSize\:justify-between {
      justify-content: space-between;
    }
    .$bpSize\:justify-around {
      justify-content: space-around;
    }
    .$bpSize\:w-full {
      width: 100%;
    }
    .$bpSize\:w-max-content {
      width: max-content;
      &:focus {
        width: max-content;
      }
    }
    .$bpSize\:h-max-content {
      height: max-content;
      &:focus {
        height: max-content;
      }
    }
    @each $space
      in (0, 1, 2, 3, 4, 5, 6, 8, 10, 12, 16, 20, 24, 32, 40, 48, 56, 64)
    {
      .$bpSize\:m-$space {
        margin: var(--space-$space);
      }
      .$bpSize\:mx-$space {
        margin: 0 var(--space-$space);
      }
      .$bpSize\:my-$space {
        margin: var(--space-$space) 0;
      }
      .$bpSize\:mr-$space {
        margin-right: var(--space-$space);
      }
      .$bpSize\:ml-$space {
        margin-left: var(--space-$space);
      }
      .$bpSize\:mt-$space {
        margin-top: var(--space-$space);
      }
      .$bpSize\:mb-$space {
        margin-bottom: var(--space-$space);
      }
      .$bpSize\:p-$space {
        padding: var(--space-$space);
      }
      .$bpSize\:px-$space {
        padding: 0 var(--space-$space);
      }
      .$bpSize\:py-$space {
        padding: var(--space-$space) 0;
      }
      .$bpSize\:pr-$space {
        padding-right: var(--space-$space);
      }
      .$bpSize\:pl-$space {
        padding-left: var(--space-$space);
      }
      .$bpSize\:pt-$space {
        padding-top: var(--space-$space);
      }
      .$bpSize\:pb-$space {
        padding-bottom: var(--space-$space);
      }
    }
    @each $fontSize, $fontModifier, $lineHeight in (var(--font-sizes)),
      (var(--font-modifiers)), (var(--line-heights))
    {
      .$bpSize\:text-$fontModifier {
        font-size: var($fontSize);
        line-height: $lineHeight;
      }
    }
    .$bpSize\:font-light {
      font-weight: 300;
    }
    .$bpSize\:font-normal {
      font-weight: 400;
    }
    .$bpSize\:font-semibold {
      font-weight: 600;
    }
    .$bpSize\:font-bold {
      font-weight: 700;
    }
  }
}
/*#endregion*/
