.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: 48rem) {
    max-width: 80%;
  }
  @media (min-width: 64rem) {
    max-width: 65%;
  }
  & p {
    max-width: 50ch;
  }
  & input {
    border: 2px solid var(--horizon-blue);
    color: var(--night-sky);
    border-radius: var(--border-radius);
    width: var(--space-48);
    height: var(--space-8);
  }
  & button {
    border: none;
    background: var(--cotton-candy-blue);
    border-radius: var(--border-radius);
    width: var(--space-48);
    height: var(--space-8);
  }
}
