@tailwind base;

html {
  font-family: "Fira Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
}

@tailwind components;

a {
  @apply text-blue-700 border-b-2 border-blue-800;
}

a:focus,
a:hover {
  @apply pb-1;
}

.markdown {
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    @apply mt-3 font-decorative font-semibold;
  }
  & h1 {
    @apply font-semibold text-2xl mb-1;
    & @screen md {
      @apply text-3xl;
    }
  }
  & h2 {
    @apply text-xl font-semibold;
  }
  & p {
    @apply mt-3 text-base;
    & code {
      @apply bg-gray-200;
    }
  }
  & ul {
    @apply list-disc ml-6;
  }
}

@tailwind utilities;

@responsive {
  .visually-hidden {
    /* https://a11yproject.com/posts/how-to-hide-content/ */
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip-path: rect(1px, 1px, 1px, 1px);
  }

  .not-visually-hidden {
    position: static;
    width: auto;
    height: auto;
    overflow: auto;
    clip: auto;
    clip-path: none;
  }

  .visually-hidden:focus {
    position: static;
    width: auto;
    height: auto;
    overflow: auto;
    @apply shadow-outline;
  }
}

@responsive {
  .scroll-margin-top-1 {
    scroll-margin-top: theme("spacing.1");
  }
  .scroll-margin-top-2 {
    scroll-margin-top: theme("spacing.2");
  }
  .scroll-margin-top-3 {
    scroll-margin-top: theme("spacing.3");
  }
  .scroll-margin-top-4 {
    scroll-margin-top: theme("spacing.4");
  }
  .scroll-margin-top-5 {
    scroll-margin-top: theme("spacing.5");
  }
  .scroll-margin-top-6 {
    scroll-margin-top: theme("spacing.6");
  }
  .scroll-margin-top-8 {
    scroll-margin-top: theme("spacing.8");
  }
  .scroll-margin-top-10 {
    scroll-margin-top: theme("spacing.10");
  }
}
