html {
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: var(--font-regular);
    font-size: 1rem;
}
body {
    line-height: 1.6;
}

p, span, li, h1, h2, h3, h4, h5, h6, a {
    max-width: 80ch;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--font-decorative);
}

h1 {
    font-size: var(--font-3xl);
    line-height: 1;
}

h2 {
    font-size: var(--font-2xl);
}

h3 {
    font-size: var(--font-xl);
}


a {
    color: var(--text-color);
}

input {
    height: 1.5rem;
    margin-inline-end: var(--space-4);
}

%card-block {
    border: 1px solid var(--text-color);
    box-shadow: 0px 4px 4px var(--shadow-color);
    border-radius: var(--border-radius);
}

ul.post-list {
    margin-block-end: var(--space-8);
    & li {
        margin-block-end: var(--space-4);
    }
}