/*tokens*/

:root {
    /*colors */
    --glow-in-the-dark: #CCFFCC;
    --night-sky: #004B95;
    --cotton-candy-blue: #81F5FF;
    --horizon-blue: #588da8;
    --pastel-blue: #a0ffe6;
    --bluewood: #30475e;
    --background-color: unset;
    --text-color: var(--night-sky);
    --shadow-color: rgba(0, 75, 149, 0.25);
    --nav-background: var(--cotton-candy-blue);
    --footer-background: var(--pastel-blue);
    --font-regular: Fira Sans, Fira Sans__subset, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    --font-decorative: Fredericka the Great, Fredericka the Great__subset, cursive;
    /*spacing*/
    --space-0: 0;
    --space-1: 0.25rem;
    --space-2: 0.5rem;
    --space-3: 0.75rem;
    --space-4: 1rem;
    --space-5: 1.25rem;
    --space-6: 1.5rem;
    --space-8: 2rem;
    --space-10: 2.5rem;
    --space-12: 3rem;
    --space-16: 4rem;
    --space-20: 5rem;
    --space-24: 6rem;
    --space-32: 8rem;
    --space-40: 10rem;
    --space-48: 12rem;
    --space-56: 14rem;
    --space-64: 16rem;

    /*font-sizes*/
    --font-xs: 0.75rem;
    --font-regular: 1rem;
    --font-xl: 1.25rem;
    --font-2xl: 1.5rem;
    --font-3xl: 2rem;

    --font-modifiers: xs, regular, xl, 2xl, 3xl;
    --font-sizes: --font-xs, --font-regular, --font-xl, --font-2xl, --font-3xl;
    --line-heights: 1.8, 1.6, 1.5, 1.3, 1;
    /*BreakPoints*/
    --sm-bp: 40rem;
    --md-bp: 48rem;
    --lg-bp: 64rem;
    --xl-bp: 80rem;

    --border-radius: 4px;


    --breakpoints: var(--sm-bp), var(--md-bp), var(--lg-bp), var(--xl-bp);
    --screen-size: sm, md, lg, xl;

}

@media (prefers-color-scheme: dark) {
    :root {
    --background-color: var(--night-sky);
    --text-color: var(--glow-in-the-dark);
    --nav-background: var(--bluewood);
    --shadow-color: rgba(204, 255, 204, 0.25);
    }
}


